<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ('./partials/header.ejs', {title: 'Home'}) %>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<%- include ('./partials/nav.ejs') %>
<body>

<!-- a function to change disney codes to text-->
<% function getText(code) {
  switch (code) {
      case 'DLR':
          return 'Disneyland Resort'
      case 'WDW':
          return 'Walt Disney World Resort'
      case 'DP':
          return 'Disneyland Park'
      case 'CA':
          return 'California Adventure'
      case 'MK':
          return 'Magic Kingdom'
      case 'EPCOT':
          return 'Epcot'
      case 'HS':
          return 'Hollywood Studios'
      case 'AK':
          return 'Animal Kingdom'
      case 'inspire-key-pass':
          return 'Inspire'
      case 'imagine-key-pass':
          return 'Imagine'
      case 'dream-key-pass':
          return 'Dream'
      case 'enchant-key-pass':
          return 'Enchant'
      case 'believe-key-pass':
          return 'Believe'
      case 'disney-incredi-pass':
          return 'Incredi-Pass'
      case 'disney-sorcerer-pass':
          return 'Sorcerer'
      case 'disney-pirate-pass':
          return 'Pirate'
      case 'disney-pixie-dust-pass':
          return 'Pixie Dust'
  }
  
}; %>

<!-- this section builds the buttons that filter data by pass -->
<div class = "container">
<div class = "pass row">
  <% for (pass in availabilities) {%>
  <% let passType = availabilities[pass].passType; %>
  <% let button = `<button type="button" class="btn btn-primary pass-button" 
  data-bs-toggle="modal" id='${passType}'> ${getText(passType)} </button>`; %>
  <%- button %>
  <% } %>
  </div>
</div>

<!-- a legend to make the calendar more readable-->
<div class="legend">
<p class="legend"><strong>Legend: </strong></p>
<p>
  <% if (resort === 'DLR')
  { %>
    <div><img class = "icons" src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/DLR_DP.png"> - Disneyland Park</div>
    <div><img class = "icons"src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/DLR_CA.png"> - California Adventure</div>
    <div><img class = "icons" src ="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/both.png"> - Both Parks Available</div>
  <% } else if (resort === 'WDW')
  { %>
    <div><img class = 'icons' src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/WDW_ALL.webp"> - All Parks Available</div>
    <div><img class = 'icons' src = "https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/some.png"> - Some Parks Available</div>
    <br>
    <div><img class = "icons"src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/WDW_MK.png"> - Magic Kingdom</div>
    <div><img class = "icons"src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/WDW_EP.png"> - Epcot</div>
    <div><img class = "icons"src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/WDW_HS.png"> - Hollywood Studios</div>
    <div><img class = "icons" src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/WDW_AK.png"> - Animal Kingdom</div>
  <% } %>
<div><img class = "icons" src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/green.png"> - Currently Unavailable</div>

</p>
</div>

<!-- this section builds the calendar -->
<% let today = new Date(); %>
<% let weekCounter = 0; %>


<!-- Array of month names -->
<% let monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>

<!-- Array of day names -->
<% let dayNames = ["S", "M", "T", "W", "T", "F", "S"]; %>

<!-- Generate Calendar HTML names -->
<% function generateCalendarHTML(date) { %>
  <% // Create a new date object for the given month %>
  <% let month = new Date(date.getFullYear(), date.getMonth(), 1); %>
<% weekCounter = 0; %>

  <% let html = '<div class="calendar">'; %> 
  <% html += '<div class="month">' + monthNames[month.getMonth()] + ' ' + month.getFullYear() + '</div>'; %>

 <!-- add the day labels -->
  <% html += '<div class="week">'; %> 
 <% for (let i = 0; i < 7; i++) { %>
    <% html += '<div class="day">' + dayNames[i] + '</div>'; %>
  <% } %>
  <% html += '</div>'; %>

 <!-- add the days to week containers and then to month -->
  <% let week = '<div class="week">'; %> 
    <% weekCounter += 1; %>
  <% for (let i = 0; i < month.getDay(); i++) { %>
    <% week += '<div class="day empty"></div>'; %>
  <% }  %>
  <% while (month.getMonth() === date.getMonth()) { %> 
    <% let resortMonth = (month.getMonth() + 1).toString().padStart(2, '0'); %>
    <% let resortDate = month.getDate().toString().padStart(2, '0'); %>
    <% let resortYear = month.getFullYear(); %>
    <% let resortFullDate = resortYear + '-' + resortMonth + '-' + resortDate; %>
    <!-- iterate through the different pass availabilities-->
    <% for (let i = 0; i < availabilities.length; i++) { %>
    <% let resortAvailability = availabilities[i]['calendar-availabilities'].find(avail => avail.date === resortFullDate); %>
    <% let resortClass = ''; %>
    <% let imgHTML = ''; %>
    <% let modalHTML = ''; %>
    <!-- build modals for dates that have availability keys in their objects-->
    <% if (resortAvailability !== undefined) { %>
      <% modalHTML = `<div class="modal" id="modal-${resortFullDate}-${availabilities[i].passType}">` %>
      <% modalHTML += `<div class="modal-content">` %>
      <% modalHTML += `<div class="modal-header">` %>
      <% modalHTML += `<span class="close" id="close-${resortFullDate}">&times;</span>` %>
      <% modalHTML += `<h3 class = 'modal-date'>Availability for ${resortFullDate}</h3>` %>
      <% modalHTML += `</div>` %>
      <% modalHTML += `<div class="modal-body">` %>
      <% modalHTML += `<div class="modal-body-content">` %>
      <% modalHTML += `<div class="modal-body-content-left">` %>
        <% let textResort = getText(resort); %> 
      <% modalHTML += `<p>Resort: ${textResort}</p>` %>
      <% modalHTML += `<p>Park Availability: </p>` %>
      <% modalHTML += `</div>` %>
      <% modalHTML += `<div class="modal-body-content-right">` %>
      <!-- build individual facility divs for each park in the availability object -->
      <% for (facilities of resortAvailability.facilities) { %>
        <% modalHTML += `<div class="facilities">` %>
        <% modalHTML += `<img src=https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/${facilities.facilityName}.png>` %>
        <% modalHTML += `<p>${facilities.available ? 'Available' : facilities.blocked ? 'Blocked Out' : 'No Reservations'}</p>` %>
        <!-- conditional buttons to request dates if they're not blocked -->
        <!-- first one links to disney's site for the reservation-->
        <% if (facilities.available && resort === 'DLR'){
          modalHTML += `<a href="https://disneyland.disney.go.com/entry-reservation/" target="_blank"><button>Book Now</button></a>`
        }else if (facilities.available && resort === 'WDW'){
          modalHTML += `<a href="https://disneyworld.disney.go.com/entry-reservation/" target="_blank"><button>Book Now</button></a>`
        }else if (!facilities.available && !facilities.blocked){
          modalHTML += `<a href="/requests/new/${user._id}/${resortFullDate}/${facilities.facilityName}"><button>Request a Notification</button></a>`
        } %>

          
        <% modalHTML += `</div>` %>
      <% } %>
      
       <!-- lets the user place a request for the first available park on a given date (if pass not blocked)-->
        <% for (facilities of resortAvailability.facilities) { %>
        <% if (!facilities.blocked) { %>
          <% modalHTML += `<div class ="facilities">` %>
        <% modalHTML += `<img src='https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/WDW_ALL.webp'><p>Any Park</p><a href="/requests/new/640d649def9a82312f066ba0/${resortFullDate}/${resort}_ANY"><button>Request Any Park</button></a>` %>
        <% modalHTML += `</div>` %>
        <% break %>
        <% } %>
        <% } %>
        
      <% modalHTML += `</div>` %>
      <% modalHTML += `</div>` %>
      <% modalHTML += `</div>` %>
      <% modalHTML += `</div>` %>
      <% modalHTML += `</div>` %>
      <% html += modalHTML; %>
      
      <!-- adding classes and images to day divs to indicate availability-->
      <% if (resortAvailability.availability === 'cms-key-all-availability' ) { %>
        <% if (resort === 'DLR') { %>
          <% resortClass = 'both' %>
          <% imgHTML = `<img src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/both.png" alt="both" style="width: 27px; height: 15px;">` %>
        <% }else{
          resortClass = 'all'
          imgHTML = `<img src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/all.png" alt="all" style="width: 27px; height: 15px;">`
        } %>
        
        <% }else if (resortAvailability.availability === 'cms-key-at-least-one-availability') { %>
          <% if (resort === 'DLR') { %>
            <% resortClass = resortAvailability.facilities.find(resort => resort.available === true).facilityName; %>
            <% imgHTML = `<img src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/${resortClass}.png" alt="${resortClass}" style="width: 15px; height: 15px;">` %> 
          <% }else{
            resortClass = 'some'
            imgHTML = `<img src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/some.png" alt="some" style="width: 27px; height: 15px;">`
          } %>
      <!-- if no availability, check to see if it's blocked or just full -->
        <% }else if (resortAvailability.availability === 'cms-key-no-availability') { %>
            <% for (facilities of resortAvailability.facilities) { %>
              <% if (facilities.blocked === true) { %>
                <% resortClass = 'slash' %>
                <% }else{ %>
                  <% imgHTML = `<img src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes/green.png" alt="green" style="width: 15px; height: 15px;">` %>
                  <% resortClass = 'green' %>
                <% } %>
              <% } %>
            
        <% } %>
    <% }else{ %>
        <% resortClass = 'slash' %>
    <% } %>
    
    

    <!-- finish the resortClass so it can respond to conditional rendering -->
    <% resortClass += ' ' + availabilities[i].passType + ' availability' %>
    <% week += `<div class='day ${resortClass}' id='${resortFullDate}-${availabilities[i].passType}'>` + month.getDate() + '</a>' + imgHTML + '</div>'; %>
    <% } %>

    <!-- start a new week if we're at Saturday-->
    <% if (month.getDay() === 6) { %> 
      <% week += '</div><div class="week">'; %> 
        <% weekCounter += 1; %>
    <% } %>
    <% month.setDate(month.getDate() + 1); %>
  <% } %>
  <!-- make every month six weeks long so they line up in styling-->
  <% for (let i = month.getDay(); i < 7; i++) { %> 
    <% week += '<div class="day empty"></div>'; %>
  <% } %>
  <% html += week + '</div>'; %>

  <!-- close the calendar div -->
  <% if (weekCounter === 5){ %>
    <% html += '<div class="week">'; %>
    <% for (let i = 0; i < 7; i++) { %>
        <% html += '<div class="day empty"></div>'; %>
    <% } %>
    <% html += '</div>'; %>
    <% } %>
  <% html += '</div>'; %> 

  <% return html; %> 
<% } %>

<!-- loops through the calendar creation four times -->
<% let calendarHTML = ''; %>
<% for (let i = 0; i < 4; i++) { %> 
  <% calendarHTML += generateCalendarHTML(new Date(today.getFullYear(), today.getMonth() + i, 1)); %> 
<% } %>
<div id="calendars">
<%- calendarHTML %>
</div>
<script src="/js/calendar.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>