<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ('./partials/header.ejs', {title: 'Home'}) %>
    <link rel="stylesheet" href=".styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>

<% // Get the current date %>
<% let today = new Date(); %>
<% let weekCounter = 0; %>


<% // Array of month names %>
<% let monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>

<% // Array of day names %>
<% let dayNames = ["S", "M", "T", "W", "T", "F", "S"]; %>

<% // Function to generate calendar HTML %> 
<% function generateCalendarHTML(date) { %>
  <% // Create a new date object for the given month %>
  <% let month = new Date(date.getFullYear(), date.getMonth(), 1); %>
<% weekCounter = 0; %>
  <% // Start building the HTML %>
  <% let html = '<div class="calendar">'; %> 
  <% html += '<div class="month">' + monthNames[month.getMonth()] + ' ' + month.getFullYear() + '</div>'; %>

  <% // Add the day labels %>
  <% html += '<div class="week">'; %> 
 <% for (let i = 0; i < 7; i++) { %>
    <% html += '<div class="day">' + dayNames[i] + '</div>'; %>
  <% } %>
  <% html += '</div>'; %>

  <% // Add the days of the month %>
  <% let week = '<div class="week">'; %> 
    <% weekCounter += 1; %>
  <% for (let i = 0; i < month.getDay(); i++) { %>
    <% week += '<div class="day empty"></div>'; %>
  <% }  %>
  <% while (month.getMonth() === date.getMonth()) { %> 
    <% let resortMonth = (month.getMonth() + 1).toString().padStart(2, '0'); %>
    <% let resortDate = month.getDate().toString().padStart(2, '0'); %>
    <% let resortYear = month.getFullYear(); %>
    <% let resortFullDate = resortYear + '-' + resortMonth + '-' + resortDate; %>
    <% let resortAvailability = resort[0]['calendar-availabilities'].find(resort => resort.date === resortFullDate); %>
    <% let resortClass = ''; %>
    <% let imgHTML = ''; %>
    <% if (resortAvailability !== undefined) { %>
        <% console.log(resortAvailability); %>
      <% if (resortAvailability.availability === 'cms-key-all-availability') { %>
        <% resortClass = 'both' %>
        <% imgHTML = `<img src="./assets/both.png" alt="both" style="width: 27px; height: 15px;"">` %>
        <% }else if (resortAvailability.availability === 'cms-key-at-least-one-availability') { %>
            <% resortClass = resortAvailability.facilities.find(resort => resort.available === true).facilityName; %>
            <% imgHTML = `<img src="./assets/${resortClass}.png" alt="${resortClass}" style="width: 15px; height: 15px;"></a>` %> 
        <% }else if (resortAvailability.availability === 'cms-key-no-availability') { %>
            <% resortClass = 'slash' %>
        <% } %>
    <% }else{ %>
        <% resortClass = 'slash' %>
    <% } %>
    

    
    <% week += `<div class='day ${resortClass}'>` + `<a href="/requests/new/640d649def9a82312f066ba0/${resortFullDate}">` + month.getDate() + '</a>' + imgHTML + '</div>'; %>
    

    
    <% if (month.getDay() === 6) { %> 
      <% week += '</div><div class="week">'; %> 
        <% weekCounter += 1; %>
    <% } %>
    <% month.setDate(month.getDate() + 1); %>
  <% } %>
  <% for (let i = month.getDay(); i < 7; i++) { %> 
    <% week += '<div class="day empty"></div>'; %>
  <% } %>
  <% html += week + '</div>'; %>

  <% // Close the calendar div %> 
  <% if (weekCounter === 5){ %>
    <% html += '<div class="week">'; %>
    <% for (let i = 0; i < 7; i++) { %>
        <% html += '<div class="day empty"></div>'; %>
    <% } %>
    <% html += '</div>'; %>
    <% } %>
  <% html += '</div>'; %> 

  <% return html; %> 
<% } %>

<% // Generate HTML for the next four months %>
<% let calendarHTML = ''; %>
<% for (let i = 0; i < 4; i++) { %> 
  <% calendarHTML += generateCalendarHTML(new Date(today.getFullYear(), today.getMonth() + i, 1)); %> 
<% } %>
<div id="calendars">
<%- calendarHTML %>
</div>
</body>
</html>