<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs', {title: 'Home'}) %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>

    <h1>Please Choose a Resort:</h1>
    <br> <br>
    <a href="/home/DLR"><img src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes//Disneyland_Park_Logo.svg.png" class="DLR"></a>
    <a href="/home/WDW"><img src="https://heroku-magic-res.s3.us-west-1.amazonaws.com/magicRes//Walt-Disney-World-Logo-1971.png" class="WDW"></a>
    
</body>
</html>