<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs', {title: 'Home'}) %>)
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    Please Choose a Resort:

    <a href="/dlrHome"><img src="/assets/Disneyland_Park_Logo.svg.png></a>
    <a href="/wdwHome"><img src="/assets/Walt-Disney-World-Logo-1971.png"></a>
    
</body>
</html>