* {
  font-family: 'Roboto', sans-serif;
}
#calendars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.calendar {
  display: inline-block;
  margin: 10px;
  border: 1px solid lightgray;
  padding: 10px;
  font-size: 14px;
}

.month {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.week {
  display: flex;
}

.day {
  flex: 1;
  text-align: center;
  padding: 5px;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.day:hover {
  transform: scale(1.02);
  transition: scale 0.5s ease-in-out;
  border: 1px solid darkslategray;

}

.empty {
  background-color: #eee;
}

.slash, .cms-key-no-availability {
  background-color: #ccc;
  text-decoration: line-through;
  color: lightslategray;
}



a { 
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal button {
  display: block;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Add animation */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}