* {
  font-family: 'Roboto', sans-serif;
}
#calendars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.calendar {
  display: inline-block;
  margin: 10px;
  border: 1px solid lightgray;
  padding: 10px;
  font-size: 14px;
}

.month {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.week {
  display: flex;
}

.day {
  flex: 1;
  text-align: center;
  padding: 5px;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.day:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
  border: 1px solid darkslategray;
  transition: border 0.5s fade-in-out;
}

.empty {
  background-color: #eee;
}

.slash, .cms-key-no-availability {
  background-color: #ccc;
  text-decoration: line-through;
  color: lightslategray;
}



a { 
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}