.user-details {
    display: flex;
    justify-content: right;
    border: 1px solid #ccc;
    padding: 2em;
    max-width: 320px;
}

.user-details label, input, select {
    margin: 5px;
}

.sm-request-button {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 100px;
    text-decoration: none;
}

